@using Internet_shop_test
@model IEnumerable<product>
@{
    ViewBag.Title = "товар";
}
<body>
    <h2>Весь товар</h2>
    @{
        foreach (var product in Model)
        {
            <div>
                    <h2>Товар: @product.name</h2>
                    <p> Id товара:@product.id</p>                   
            </div>
        }
    }
</body>

